eosvc==1.2.0
isaura==2.4.1
git+https://github.com/ersilia-os/eosframes.git@v1.0.1
pandas==2.3.0
numpy==2.5.1
stylia==1.0.1
matplotlib==3.11.1
requests==2.32.5
circlify==0.15.1
scikit-learn==1.8.0
scipy==1.17.1
